.menu-btn {
    margin-left: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menu-btn-burger {
    width: 2.5rem;
    height: 0.25rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all .5s ease-in-out;
}

.menu-btn-burger::before, 
.menu-btn-burger::after {
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 0.25rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all .5s ease-in-out;
}

.menu-btn-burger::before {
    transform: translateY(-0.75rem);
}

.menu-btn-burger::after {
    transform: translateY(0.75rem);
}

.menu-btn.open .menu-btn-burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn-burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn-burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}